# docker run -p 127.0.0.1:8080:8080 -e KC_BOOTSTRAP_ADMIN_USERNAME=admin -e KC_BOOTSTRAP_ADMIN_PASSWORD=admin quay.io/keycloak/keycloak:26.5.1 start-dev

services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.5.1
    container_name: keycloak
    environment:
     # - KC_DB=postgres
     # - KC_DB_URL_HOST=db
     # - KC_DB_URL_PORT=5432
     # - KC_DB_USERNAME=keycloak
     # - KC_DB_PASSWORD=keycloakpassword
     # - KC_HOSTNAME=localhost
     # - KC_HTTP_ENABLED=true
     # - KC_PROXY=edge
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
    ports:
      - "8080:8080"
    # depends_on:
    #  - db
    command: ["start-dev"]
    volumes:
        - keycloak-data:/opt/keycloak/data
  # db:
  #   image: postgres:15
  #   container_name: keycloak_db
  #   environment:
  #     - POSTGRES_DB=keycloak
  #     - POSTGRES_USER=keycloak
  #     - POSTGRES_PASSWORD=keycloakpassword
  #   volumes:
  #     - keycloak_db_data:/var/lib/postgresql/data

volumes:
  keycloak-data: